<h1> Congrats on Creating Product: <%=@product.name%> </h1>

<h4>Restaurant ID: <%= @product.restaurant_id %></h4>
<h4>Product Description: <%= @product.description %></h4>
<h4>Cost: <%= @product.cost %></h4>